@font-face {
  font-family: "DMSans";
  src: url("./font/DMSans-Regular.ttf");
}

@font-face {
  font-family: "DMSans-bold";
  src: url("./font/DMSans-Bold.ttf");
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4rem;
  width: 10rem;
  border: none;
  background-color: #901C1C;
  color: #fff;
  font-size: 1rem;
  padding: 1rem;
  font-weight: 700;
  border-radius: 5%;
  cursor: pointer;
  margin: 4vh auto 0 5vw;
}

.button:hover {
  background-color: #D3573C;
}

@media only screen and (max-width: 700px) {
  .button {
    position: fixed;
    z-index: 5;
    bottom: 3vh;
    left: 50vw;
    margin: 0;
    height: 2.5rem;
    font-size: 1rem;
    -webkit-transform: translateX(-45%);
            transform: translateX(-45%);
  }
}

@-webkit-keyframes translate-y {
  100% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
}

@keyframes translate-y {
  100% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
}

@-webkit-keyframes translate-y-5 {
  100% {
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
}

@keyframes translate-y-5 {
  100% {
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
}

@-webkit-keyframes translate-y-100 {
  100% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
}

@keyframes translate-y-100 {
  100% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
}

@-webkit-keyframes translate-x-100 {
  100% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
}

@keyframes translate-x-100 {
  100% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
}

body {
  font-family: "DMSans";
  font-weight: 400;
  margin: 0 auto;
  font-size: 1vw;
}

a {
  text-decoration: none;
  color: black;
}

.no-scroll {
  overflow: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

header .logo {
  width: 8vw;
}

header a {
  margin: auto 0;
  cursor: pointer;
}

header nav {
  margin: auto 0;
}

header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header h1 {
  color: #901C1C;
}

.tag {
  color: #901C1C;
  background-color: #fff;
  margin: 0 0.5rem;
  border: solid 0.1rem lightgrey;
  border-radius: 2rem;
  padding: 0.1rem 0.5rem;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.tag:hover {
  background-color: #D3573C;
  color: #fff;
}

.tag-selected {
  color: #fff;
  background-color: #901C1C;
}

#main-home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33%)[3];
      grid-template-columns: repeat(3, 33%);
}

#main-home .photographer-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem auto;
}

#main-home .photographer-profile .photographer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-home .photographer-profile .photographer-link .photographer-portrait {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#main-home .photographer-profile .photographer-link .photographer-portrait:hover {
  -webkit-animation: translate-y 300ms forwards;
          animation: translate-y 300ms forwards;
}

#main-home .photographer-profile .photographer-link .photographer-name {
  font-size: 2rem;
  color: #D3573C;
}

#main-home .photographer-profile .photographer-location {
  font-size: 0.9rem;
}

#main-home .photographer-profile .photographer-tagline {
  font-size: 0.8rem;
}

#main-home .photographer-profile .photographer-price {
  font-size: 0.8rem;
  color: #757575;
}

.photographer-profile > div {
  margin: 0.1rem auto;
}

.header-photographer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: auto;
  width: 86vw;
}

.header-photographer a {
  margin: 0;
  padding: 0;
}

.header-photographer a img {
  margin: 0;
  padding: 1rem;
}

.photographer-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  margin: auto;
  background-color: #fafafa;
  padding: 2%;
}

.photographer-banner .photographer-info .photographer-name {
  color: #D3573C;
  font-size: 3rem;
}

.photographer-banner .photographer-info .photographer-location {
  color: #901C1C;
  font-size: 1.5rem;
}

.photographer-banner .photographer-info .photographer-tagline {
  color: #525252;
  font-size: 1.2rem;
}

.photographer-banner img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-left: 15vw;
}

.media-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (30vw)[3];
      grid-template-columns: repeat(3, 30vw);
  grid-column-gap: 3vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.media-list .media-container {
  text-align: center;
}

.media-list .media-container img,
.media-list .media-container video {
  width: 100%;
  height: 25vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.media-list .media-container img:hover,
.media-list .media-container video:hover {
  -webkit-animation: translate-y 300ms forwards;
          animation: translate-y 300ms forwards;
}

.media-list .media-container .media-text-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(50%, 1fr) fit-content(15%) fit-content(15%);
      grid-template-columns: minmax(50%, 1fr) fit-content(15%) fit-content(15%);
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #901C1C;
  font-size: 1.1rem;
}

.media-list .media-container .media-text-container .media-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.media-list .media-container .media-text-container .media-price {
  margin: 0 3% 0 1.5rem;
}

.media-list .media-container .media-text-container .media-likes,
.media-list .media-container .media-text-container .media-price {
  font-weight: 800;
}

.media-list .media-container .media-text-container .media-likes i,
.media-list .media-container .media-text-container .media-price i {
  cursor: pointer;
}

.info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  right: 0;
  bottom: -5rem;
  padding: 0 2rem;
  margin-right: 2rem;
  background-color: #D3573C;
  border-radius: 5% 5% 0 0;
  font-size: 1.5rem;
  -webkit-animation: translate-y-5 700ms forwards ease-in-out;
          animation: translate-y-5 700ms forwards ease-in-out;
}

.info-box .photographer-likes {
  margin-right: 3rem;
}

.contact-modal-container {
  position: fixed;
  left: 0;
  top: -100vh;
  width: 100vw;
  height: 100vh;
  background-color: rgba(196, 196, 196, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  -webkit-animation: translate-y-100 500ms forwards ease-in-out;
          animation: translate-y-100 500ms forwards ease-in-out;
}

.contact-modal-container .contact-modal-content {
  background-color: #db8876;
  padding: 1rem;
  z-index: 10;
  width: 35vw;
}

.contact-modal-container .contact-modal-content .contact-modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2.5rem;
  max-width: 75%;
}

.contact-modal-container .contact-modal-content .contact-modal-form > * + * {
  margin-top: 1rem;
}

.contact-modal-container .contact-modal-content .formData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #312E2E;
  font-size: 1.3rem;
}

.contact-modal-container .contact-modal-content .formData input {
  height: 1.7rem;
}

.contact-modal-container .contact-modal-confirmation {
  color: black;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  background-color: #db8876;
  padding: 1rem;
  z-index: 15;
  width: 35vw;
  height: 70vh;
}

.contact-modal-container .contact-modal-confirmation p {
  text-align: center;
}

.contact-modal-container .contact-modal-close {
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 35vw;
  font-size: 5rem;
  z-index: 50;
}

@media only screen and (max-width: 700px) {
  .contact-modal-container {
    background-color: none;
  }
  .contact-modal-container .contact-modal-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 92vw;
    height: 100vh;
    padding: 0 4%;
  }
  .contact-modal-container .contact-modal-close {
    position: absolute;
    top: -10vh;
    right: 10vw;
    font-size: 5rem;
    z-index: 20;
  }
  .contact-modal-container .contact-modal-title {
    font-size: 1.5rem;
  }
  .contact-modal-container .contact-modal-confirmation {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 4%;
    z-index: 15;
    width: 92vw;
    height: 100vh;
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1700px) {
  .contact-modal-close {
    position: absolute;
    top: 35vh;
    right: 35vh;
  }
}

.media-modal-container {
  display: none;
  width: 100vw;
  height: 100vw;
  background-color: rgba(196, 196, 196, 0.6);
  position: fixed;
  top: 0;
  left: -100vw;
  -webkit-animation: translate-x-100 500ms forwards ease-in-out;
          animation: translate-x-100 500ms forwards ease-in-out;
}

.media-modal {
  display: none;
  width: 85vw;
  height: 85vh;
  z-index: 5;
  background-color: #fff;
  position: fixed;
  top: 7.5vh;
  left: 7.5vw;
}

.media-modal .media-modal-close {
  position: absolute;
  right: 3%;
  top: -2%;
  color: #901C1C;
  font-size: 5rem;
}

.media-modal .media-modal-arrow {
  color: #901C1C;
  font-size: 5rem;
  position: absolute;
}

.media-modal .arrow-left {
  left: 5%;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.media-modal .arrow-right {
  right: 5%;
}

.media-modal .media-modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.media-modal .media-modal-content img,
.media-modal .media-modal-content video {
  width: 70vw;
  height: 70vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.media-modal .media-modal-content .media-modal-content-title {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  color: #901C1C;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .media-modal {
    width: 100vw;
    height: 100vh;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
  }
  .media-modal .media-modal-close {
    position: absolute;
    top: 18vh;
    right: 3vw;
    font-size: 3rem;
  }
  .media-modal .media-modal-arrow {
    font-size: 3rem;
  }
  .media-modal .media-modal-content img,
  .media-modal .media-modal-content video {
    height: 50vh;
  }
  .media-modal .media-modal-content .media-modal-content-title {
    font-size: 1.3rem;
    position: relative;
    bottom: 20vh;
  }
}

@media only screen and (max-width: 700px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    margin: auto 1%;
  }
  header > a {
    margin: 0;
    width: 40vw;
  }
  header .logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 1vh;
    margin: 0;
  }
  header h1 {
    font-size: 1rem;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  header .tag {
    margin: 1rem 0.2rem;
  }
  #main-home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  #main-home .photographer-profile {
    margin: 1.5rem auto;
  }
  #main-home .photographer-tags {
    margin-top: 0.5rem;
  }
}

@media only screen and (max-width: 700px) {
  .photographer-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    padding: 3vw;
    margin: auto 2vw;
    background-color: #fff;
  }
  .photographer-banner .photographer-info {
    max-width: 65%;
  }
  .photographer-banner .photographer-info .photographer-name {
    font-size: 2rem;
  }
  .photographer-banner .photographer-info .photographer-location {
    font-size: 1rem;
    padding: 0;
  }
  .photographer-banner .photographer-info .photographer-tagline {
    font-size: 0.8rem;
  }
  .photographer-banner .photographer-info .photographer-tags .tag {
    margin: auto 0.2rem;
  }
  .photographer-banner img {
    width: 5rem;
    height: 5rem;
    margin: 0;
    position: relative;
    top: 1rem;
  }
  .media-list {
    margin: auto 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .media-list .media-container img,
  .media-list .media-container video {
    height: 60vw;
    -o-object-position: center;
       object-position: center;
  }
  .info-box {
    display: none;
  }
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em 0 0 8vw;
}

.filter #filter-title {
  margin-right: 2em;
}

.filter .dropdownMenu-wrapper {
  width: 10em;
}

.filter .custom-select {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filter .custom-select__trigger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.8em;
  font-size: 1em;
  font-weight: 300;
  color: white;
  background: #901C1C;
  cursor: pointer;
  border-radius: 1rem;
}

.filter .custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  background: #901C1C;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  border-radius: 0 0 1rem 1rem;
}

.filter .custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.filter .custom-select.open .custom-select__trigger {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.filter .custom-option {
  position: relative;
  display: block;
  margin: 0 20px 0;
  font-size: 1em;
  font-weight: 300;
  color: white;
  line-height: 60px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.filter .custom-option:hover, .filter .custom-option:focus {
  cursor: pointer;
  text-decoration: underline;
}

.filter .custom-option.selected {
  display: none;
}

.filter .custom-option:not(.selected) {
  border-top: solid 1px white;
}

.filter .arrow {
  position: relative;
  height: 15px;
  width: 15px;
}

.filter .arrow::before,
.filter .arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.filter .arrow::before {
  left: -5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: white;
}

.filter .arrow::after {
  left: 5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: white;
}

.filter .open .arrow::before {
  left: -5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.filter .open .arrow::after {
  left: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
/*# sourceMappingURL=Style.css.map */