@import "./utils/variables";
@import "./base/font";
@import "./components/button";

body {
  font-family: "DMSans";
  font-weight: 400;
  margin: 0 auto;
  font-size: 1vw;
}

a {
  text-decoration: none;
  color: black;
}

.no-scroll {
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-around;
  text-align: center;

  .logo {
    width: 8vw;
  }

   a {
    margin: auto 0;
    cursor: pointer;
  }

  nav {
    margin: auto 0;
    ul {
      list-style-type: none;
      display: flex;
    }
  }

  h1 {
    color: $colour-primary;
  }
}

.tag {
  color: $colour-primary;
  background-color: #fff;
  margin: 0 0.5rem;
  border: solid 0.1rem lightgrey;
  border-radius: 2rem;
  padding: 0.1rem 0.5rem;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.tag-selected {
  color: #fff;
  background-color: $colour-primary;
}

#main-home {

  display: grid;
  grid-template-columns: repeat(3, 33%);

  .photographer-profile {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 3rem auto;

    .photographer-link {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;

      .photographer-portrait {
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
      }

      .photographer-name {
        font-size: 2rem;
        color: $colour-secondary;
      }
    }

    .photographer-location {
      font-size: 0.9rem;
    }

    .photographer-tagline {
      font-size: 0.8rem;
    }

    .photographer-price {
      font-size: 0.8rem;
      color: $colour-price;
    }
  }
}

.photographer-profile > div {
  margin: 0.1rem auto;
}



/*     .photographer-tag {
      width: 20rem;

      ul {
        display: flex;
        list-style-type: none;
        align-items: center;
        margin: 0;
        padding: 0;

        li {
          button {
            background-color: #fff;
          }
        }
      }
    }
  }
} */

@import "./layouts/photographer-page";
@import "./components/contact-modal";
@import "./components/media-modal";
@import "./layouts/mobile-homepage";
@import "./layouts/mobile-photographer-page";
