.button {
  height: 4rem;
  width: 10rem;
  border: none;
  background-color: $colour-primary;
  color: #fff;
  font-size: 1rem;
  padding: 1rem;
  font-weight: 700;
  border-radius: 5%;
  cursor: pointer;
}
