.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 10rem;
  border: none;
  background-color: $colour-primary;
  color: #fff;
  font-size: 1rem;
  padding: 1rem;
  font-weight: 700;
  border-radius: 5%;
  cursor: pointer;
  margin: 4vh auto 0 5vw;
}

@media only screen and (max-width: 700px) {

  .button {
    position: fixed;
    z-index: 5;
    bottom: 3vh;
    left: 50vw;
    margin: 0;
    height: 2.5rem;
    font-size: 1rem;
    transform: translateX(-45%);
  }
}
