.contact-modal-container {
  position: fixed;
  left: 0;
  top: -100vh;
  width: 100vw;
  height: 100vh;
  background-color: rgba(196, 196, 196, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  animation: translate-y-100 500ms forwards ease-in-out;

  .contact-modal-content {
    background-color: #db8876;
    padding: 1rem;
    z-index: 10;
    width: 35vw;

    .contact-modal-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 2.5rem;
      max-width: 75%;
    }

    .contact-modal-form > * + * {
      margin-top: 1rem;
    }

    .formData {
      display: flex;
      flex-direction: column;
      color: $colour-text-contact-form;
      font-size: 1.3rem;

      input {
        height: 1.7rem;
      }
    }
  }
  .contact-modal-confirmation {
    color: black;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    background-color: #db8876;
    padding: 1rem;
    z-index: 15;
    width: 35vw;
    height: 70vh;

    p {
      text-align: center;
    }
  }

  .contact-modal-close {
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: 35vw;
    font-size: 5rem;
    z-index: 50;
  }
}

@media only screen and (max-width: 700px) {
  .contact-modal-container {
    background-color: none;

    .contact-modal-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 92vw;
      height: 100vh;
      padding: 0 4%;
    }

    .contact-modal-close {
      position: absolute;
      top: -10vh;
      right: 10vw;
      font-size: 5rem;
      z-index: 20;
    }

    .contact-modal-title {
      font-size: 1.5rem;
    }

    .contact-modal-confirmation {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 4%;
      z-index: 15;
      width: 92vw;
      height: 100vh;
      font-size: 1.8rem;
    }
  }
}

@media only screen and (min-width: 1700px) {

  .contact-modal-close {
    position: absolute;
    top: 35vh;
    right: 35vh;
  }
  
}

