.media-modal-container {
    display: none;
    width: 100vw;
    height: 100vw;
    background-color: rgba(196, 196, 196, 0.6);
    position: fixed;
    top: 0;
    left: -100vw;
    animation: translate-x-100 500ms forwards ease-in-out;
}



.media-modal {
  display: none;
  width: 85vw;
  height: 85vh;
  z-index: 5;
  background-color: #fff;
  position: fixed;
  top: 7.5vh;
  left: 7.5vw;


  .media-modal-close {
      position: absolute;
      top: 2rem;
      right: 2rem;
      color: $colour-primary;
      font-size: 5rem;
  }

  .media-modal-arrow {
      color: $colour-primary;
      font-size: 5rem;
  }

  #arrow-left {
      order: -1;
  }

  .media-modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;

    img, video {
      width: 70vw;
      height: 70vh;
      object-fit: contain;
    }

    .media-modal-content-title {
        order: 1;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 1.5rem;
        color: $colour-primary;
        width: 100%;
    }
  }
}


@media only screen and (max-width: 700px) {

  .media-modal {
    width: 100vw;
    height: 100vh;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;

    .media-modal-close {
      position: absolute;
      top: 18vh;
      right: 3vw;
      font-size: 3rem;
    }

    .media-modal-arrow {
      font-size: 3rem;
    }

    .media-modal-content {
      img, video {
        height: 50vh;
      }

      .media-modal-content-title {
        font-size: 1.3rem;
        position: relative;
        bottom: 20vh;
      }
    }
  }
}